* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .markdown-container>* {
        all: revert
    }
}

body {
    margin: 0px 30px;
    padding-top: 20px;
}

@media all and (max-width:600px) {
    body {
        margin: 0px 15px;
        padding-top: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #020617 !important;
    }

    .rt-TextAreaInput {
        color: rgb(233, 233, 233) !important;
    }
}